{% load i18n %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% trans "Maintenance Server" %}</title>
</head>
<body>
  {% trans "Make everything better :)" %}
</body>
</html>
