{% load i18n %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>

{% block content %}
  <h1>{% trans "Website Index" %}</h1>
{% endblock content %}

</body>
</html>
