{% load routers_tags %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
  {% for object in object_list %}
    <a href="{% url object|website_urlname:'inspect' pk=object.id %}">{{ object }}</a>
  {% empty %}
    <p>Empty!</p>
  {% endfor %}
</body>
</html>
