{% load routers_tags %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
  {% get_opts object as opts %}
  {% object_url 'website' 'app.Product' action='inspect' pk=object.id as inspect_url %}
  <h1>
  {% if inspect_url %}
    <a href="{{ inspect_url }}">{{ object }}</a>
  {% else %}
    {{ object }}
  {% endif %}
  </h1>
  <a href="{% url object|website_urlname:'index' %}">Back to {{ opts.verbose_name_plural }} Index</a>
</body>
</html>
