{% load routers_tags %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
  {% get_opts object as opts %}
  <h1>{{ object }}</h1>
  <a href="{% url object|dashboard_urlname:'index' %}">Back to {{ opts.verbose_name_plural }} Index</a>
</body>
</html>
